<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
</head>
<h1> ¿DE QUE SE TRATA NUESTRA PAGINA? </h1>
<h3>Somos un grupo de estudiantes principiantes en programación y apasionados por el arte en todas sus formas, particularmente en el mundo de los tatuajes.
    Quisimos crear un espacio dedicado a que otros amantes de este hermoso arte puedan compartir sus diseños o por qué no elegir su próximo tatuaje, o simplemente mostrarles a los demás algún trabajo que se hayan hecho.
    Nuestra idea es ir de a poco integrando a más gente y que el día de mañana a través de nuestro blog se pueda generar un ida y vuelta entre tatuadores y gente que quiera tatuarse, logrando una comunidad en dónde todos nos beneficiemos.
    Cualquier duda o consulta, contactate con nosotros a través de este mismo blog.
    Esperamos que lo disfruten y sea productivo para todos y todas ;).<br>
    Francisco Garcia Pagano, Ezequiel Arias y Ezequiel Jorquera.
</h3>
<br><br>
<a href="{% url 'index-blog' %}">Volver al home</a>