<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CONTACTO</title>
</head>
<body>
    <h1><list>
        Medios de contacto:
    </list></h1>
    <h3><li>Ezequiel Arias: ezearias@gmail.com</h3></li>
    <h3><li>Francisco Pagano: franpagano@gmail.com</h3></li>
    <h3><li>Ezequiel Jorquera: ejorquera@gmail.com</h3></li>       
</body>
<br><br>
<a href="{% url 'index-blog' %}">Volver al home</a>
</html>